
<IMG SRC="http://flix.org.uk/pages/media/images/links.jpg">
<h1> New Link </h1>

<form action='/link' method='POST'>
 <label for='title'>
   Title:
   <input type='text' name='title' />
 </label>
 <label for='url'>
   URL:
   <input type='text' name='url' />
 </label>
 <label for='tag'>
   Tags:
   <input type='text' name='tag' />
 </label>
 <input type='submit' value='Submit!' />

</form>
