<p>ADD NEW LINK BRO</p>
<IMG SRC="http://flix.org.uk/pages/media/images/links.jpg">
<br>
<form action="/link" method="post">
  Title: <input type="text" name="title">
  URL: <input type="text" name="url">
  Tag: <input type="text" name="tag">
  <input type="submit" value="Submit!">
</form>
